header {
    background-color: hsl(120, 15%, 50%);
    min-width: 320px;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    position: relative;
}

#feedback-below-header {
    position: absolute;
    bottom: -36px; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 5px 10px; 
    border-radius: 5px;
    color: green;
    font-weight: bold;
    white-space: nowrap;
}

.fade-out {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.fade-out.hidden {
    opacity: 0;
}

li {
    list-style: none;
}


.nav-title {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    z-index: 100;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.nav-link {
    transition: 0.2s ease;
}

.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    @media (max-width: 760px) {
        .hamburger {
            display: block;
        }
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
        .nav-menu {
            position: fixed;
            right: -100%;
            top: 70px;
            bottom: 0;
            gap: 30px;
            flex-direction: column;
            background-color: hsl(120, 15%, 50%);
            width: 100%;
            text-align: center;
            justify-content: center;
            transition: 0.3s;
        }
        .nav-item {
            margin: 16px 0;
        }
        .nav-menu.active{
            right: 0;
        }
        .nav-link {
            font-size: 20px;
        }
    }


/* header {
    height: 50vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

#text-header-container {
    background-color: rgba(0, 200, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#text-header-container h1 {
    margin: 0;
}

#text-header-container h1 a {
    text-decoration: none;
    color: rgb(34, 38, 32);
}


@media (max-width: 244px) {
    #text-header-container h1 {
        font-size: 1.5rem;
    }
}
@media (max-width: 184px) {
    #text-header-container h1 {
        font-size: 1.2rem;
    }
}
@media (max-width: 150px) {
    #text-header-container h1 {
        font-size: 1rem;
    }
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0;
    margin-top: 5px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(34, 38, 32);
    margin-right: 10px;
}

nav a:hover {
    text-decoration: underline;
}