#welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 600px;
    padding: 10px 25px;
}

#welcome-container a {
    text-decoration: none;
}

#welcome-container a:hover {
    text-decoration: underline;
}