#main-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    min-height: 300px;
}

#login-container {
 /* Make height auto for better flexibility */
    width: 100%; /* Use a percentage for responsiveness */
    max-width: 400px; /* Max width for larger screens */
    min-height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 10px auto;
    position: relative;
}

@media (max-width: 400px) {
    #login-container {
        width: 90%; /* Wider on small screens */
    }
}

#login-container h2 {
    position: absolute;
    top: 5px;
}

#login-feedback {
    font-size: 0.8rem;
    color: red;
}

#login-container form {
    display: flex;
    flex-direction: column;
    width: 80%; /* Make form full width */
}

#login-container form input {
    width: 100%;
    height: 30px;
    margin: 5px 0px;
    border-radius: 10px;
    padding-left: 5px;
    border: none;
}

@media (max-height: 467px) {
    #login-container form input {
        margin: 5px 0; /* Adjust margin for smaller heights */
    }
}

#login-container form input[type="submit"] {
    margin-top: 30px;
}

#login-container form input[type="submit"]:hover {
    background-color: rgba(0, 200, 0, 0.5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

#login-container a {
    text-decoration: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.8rem;
    color: darkgray;
}

#login-container a:hover {
    text-decoration: underline;
}

#login-container input.error {
    background-color: rgb(238, 162, 162);
    border: 2px solid red;
}
