{% extends "layout.html" %}

{% block js %}
<script src="static/js/changepassword.js" defer></script>
{% endblock %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <div class="main-register-form-container">
        <div class="register-form-container">
            <form id="changepassword-form" action="/change_password" method="post">
                <div class="register-header">
                    <h1>Change Password</h1>
                </div>
                <div class="changepass-input-field">
                    <input id="oldpassword" autocomplete="off" class="form-control mx-auto w-auto" name="oldpassword" placeholder="Old Password" type="password">
                </div>
                <div class="changepass-input-field">
                    <input id="newpassword" autocomplete="off" class="form-control mx-auto w-auto" name="newpassword" placeholder="New Password" type="password">
                </div>
                <div class="changepass-input-field">
                    <input id="confirmnewpassword"autocomplete="off" class="form-control mx-auto w-auto" name="confirmnewpassword" placeholder="Confirm New Password" type="password">
                </div>
                <div class="changepass-input-field">
                        <button class="btn btn-dark" type="submit">Change Now</button>
                </div>
                <p class="changepass-feedback" style="color: {{ color }}; display: flex; justify-content: center;">{{ feedback }}</p>
            </form>        
        </div>
    </div>
    <hr>
{% endblock %}
