{% extends "layout.html" %}

{% block title %}
    Top-UP
{% endblock %}

{% block main %}
    <div class="main-account-setup-container">
        <div class="account-setup-container">
            <h1>TOP-UP</h1>
            <form action="/top-up" method="post">
                <div class="buy-token-container">
                    <select>
                        <option selected disabled>Select MOP</option>
                        <option>GCash</option>
                        <option>PayPal</option>
                    </select>
                    <input name="number_of_tokens" type="number" placeholder="Number of tokens" min="1">
                    <input class="buytokenbutton" name="buytokenbutton" type="submit" value="Buy Token" placeholder="Update">
                </div>
            </form>
        </div>  
    </div>
{% endblock %}