{% extends "layout.html" %}

{% block title %}
    Set-up Account
{% endblock %}

{% block main %}
    <div class="main-account-setup-container">
        <div class="account-setup-container">
            <h1>My Account</h1>
            <a class="account-setup-buttons" href="/update_profile">Update profile picture</a>
            <a class="account-setup-buttons" href="/update_fullname">Update full name</a>
            <a class="account-setup-buttons" href="/add_pet">Add a pet</a>
            <a class="account-setup-buttons" href="/change_password">Change Password</a>
            <a class="account-setup-buttons" href="/top-up">Top-up Love Tokens</a>
        </div>
    </div>
{% endblock %}